---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Junio 2025 - Diciembre 2025",
    title: "Gestor de Mesa de Servicio e Infraestructura",
    company: "RGC Activa SAS",
    description: "Lideré la estabilidad operativa y seguridad de activos digitales para una red de +500 colaboradores en el sector salud. Gestión de volúmenes críticos de Big Data (XML, JSON, PDF) y auditoría técnica de incidentes web, diagnosticando fallas en lógica de interfaz y asegurando la integridad de los datos.",
  },
  {
    date: "2023",
    title: "Web Developer",
    company: "Business Insights",
    description: "Especialista en el ciclo de vida de desarrollo de software seguro. Ejecución de debugging avanzado, monitoreo de despliegues y optimización de la eficiencia del software, priorizando la resiliencia del sistema y la experiencia del usuario final.",
  },
  {
    date: "2022",
    title: "Soporte Técnico Nivel 1",
    company: "Teleperformance",
    description: "Resolución de incidentes de alta complejidad bajo estándares globales, destacando por mi capacidad de diagnóstico técnico y análisis de sistemas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
